
<table class="table">
  <thead class="thead-light">
      <tr>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Last Updated</th>
          <th></th>
      </tr>
  </thead>
  <tr *ngFor="let prd of service.list">
      <td (click)="populateForm(prd)">{{prd.ProductName}}</td>
      <td (click)="populateForm(prd)">{{prd.ProductPrice}}</td>
      <td (click)="populateForm(prd)">{{prd.LastUpdated}}</td>
      <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(prd.id)"></i>
      </td>
  </tr>
</table>
<!-- ------------------------------------------------------------------- -->
<!-- Form -->
<!-- <div class="jumbotron py-3">
  <h1 class="text-left alert alert-success">Product Categories</h1>
</div>
<div class="row">
  <div class="col-md-5">
      <app-products-form></app-products-form>
  </div>
  <div class="col-md-7">
      <div>table with list of records from the table</div> 
  </div>
</div> -->
<!-- --------------------------------------------------------------------- -->
<!-- ----List--------------------------------------------------------- -->

<!-- <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
<div class="btn-group">
  <div class="btn-group">
    <button (click)="DoGet()">Get Products</button>
  </div>

  <div class="btn-group">
    <button (click)="DoDelete()">Delete Product</button>
  </div>

  <div class="btn-group">
    <button (click)="DoPost()">Add Product</button>
  </div>

  <div class="btn-group">
    <button (click)="DoPut()">Edit Product</button>
  </div>
</div> -->

<!-- --Details----------------------------------------------- -->

<!-- <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        Product Details 
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success ">
        Product Name :- ......
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">
        Product Price :- ......
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
        Last Updated :- ../../....
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark disabled">
        Photo Later
    </a>
  </div> -->

