/* You can add global styles to this file, and also import other style files */
body {
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #00dac0, #aac57c);
  background: linear-gradient(to right, #07c5af, #a4cc5e);
  min-height: 100vh;
}

.form-group label {
    color: lightblue;
  }
  
  .form-group input {
    font-weight: 500;
  }
  
  .form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
  }
  
  thead th{
    font-weight: 400;
  }
  
  table tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
  }
  
  /*for invalid form controls*/
  input.invalid {
    border-color: red;
  }